:root {
	--color-default: #364d59;
	--color-primary: #feb900;
	--color-secondary: #52565e;
}
/* .resources .resource-item .icon:before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #f0f1f2;
	border-radius: 50px;
	z-index: 1;
	top: 10px;
	right: -15px;
	transition: 0.3s;
} */

.resources .resource-item h3 {
	color: var(--color-default);
	font-weight: 700;
	margin: 0 0 20px 0;
	padding-bottom: 8px;
	font-size: 22px;
	position: relative;
	display: inline-block;
	border-bottom: 4px solid #ebebed;
	transition: 0.3s;
}

.resources .resource-item p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

.resources .resource-item .readmore {
	margin-top: 15px;
	display: inline-block;
	color: var(--color-primary);
}

.resources .resource-item:hover .icon:before {
	background: var(--color-primary);
}

.resources .resource-item:hover h3 {
	border-color: var(--color-primary);
}
